{% extends 'base.html.twig' %}

{% block title %}Nuovo record{% endblock %}

{% block content %}
    <div class="container">
        <h1>Nuovo record</h1>

        {{ include('raccolta/_form.html.twig') }}

        <button type="button" class="btn btn-outline-primary btn-sm"><a href="{{ path('raccolta_index') }}">Indietro</a></button>
    </div>
{% endblock %}
